<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<style>
    body {
        background: lightblue;
    }
</style>

  <main class="container">
      <div>
          <h1 class="display-4" style="text-align: center;">Welcome to the <%= title %> page</h1>
        </div>
  </main>

<div>
  <h3>Mission Statement</h3>
  <p>My mission is to provide the highest quality work to the best of my ability in the Software Engineering workplace.
     To interact with new people as we discuss and bounce ideas off one another to achieve the end goal.
     To continuously learn about myself, different languages and everything in between;
     I am up for the challenge.</p>
</div>


<p>Want to know more <a href="about">about me.</a></p>
<p>Click here to <a href="contact">contact me</a></p>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>